<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\app\accounts\static\css\profile.css">
    <title>Document</title>
</head>
<body>
    <section class="cards-statics">

        <div class="card"> perfil
        </div>
        <div class="card">
            staticas
        </div>
        <div class="card">
            não sei ainda
        </div>
        <div class="card">
            não sei também
        </div>
      </section>
</body>
</html>